<a href="https://colab.research.google.com/github/JuliaVazTostes/exercicios-extra/blob/master/Selecao_loc_e_iloc_do_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# O link para esse exercício se encontra aqui: https://github.com/matheusbattisti/ds3_loc_iloc/blob/master/loc_iloc_utilizacao.ipynb

In [0]:
import pandas as pd

#chamando o dataset
df = pd.read_csv("https://raw.githubusercontent.com/matheusbattisti/ds3_loc_iloc/master/nba_draft_2015.csv")

df.head()

               Player Position  ... Role Player      Bust
0  Karl-Anthony Towns        C  ...    0.163083  0.274967
1     Justise Winslow       SF  ...    0.176767  0.228800
2     Stanley Johnson       SF  ...    0.278500  0.229967
3       Jahlil Okafor        C  ...    0.235533  0.295850
4    D`Angelo Russell       PG  ...    0.096583  0.409100

[5 rows x 9 columns]

In [0]:
df.shape

(1090, 9)

# **LOC**

In [0]:
# loc com índice
df.loc[[5]]

           Player Position              ID  ...   Starter  Role Player      Bust
5  Dakari Johnson        C  dakari-johnson  ...  0.367544     0.417572  0.193544

[1 rows x 9 columns]

In [0]:
# loc com array
df.loc[[0,1,2]]

               Player Position  ... Role Player      Bust
0  Karl-Anthony Towns        C  ...    0.163083  0.274967
1     Justise Winslow       SF  ...    0.176767  0.228800
2     Stanley Johnson       SF  ...    0.278500  0.229967

[3 rows x 9 columns]

In [0]:
# loc com um "pedaço" do dataframe
# Nesse caso, não é da quarta posição (índice 3) até a oitava posição (indice 7), e sim do índice de número quatro até o índice de número oito
df.loc[4:8]

                    Player Position  ... Role Player      Bust
4         D`Angelo Russell       PG  ...    0.096583  0.409100
5           Dakari Johnson        C  ...    0.417572  0.193544
6             Devin Booker       SG  ...    0.390167  0.212000
7      Willie Cauley-Stein        C  ...    0.243186  0.303710
8  Rondae Hollis-Jefferson       SF  ...    0.392481  0.224396

[5 rows x 9 columns]

In [0]:
# Setando um index para podermos trabalhar com o nome das linhas
df2 = df.set_index('Player')

df2.head()

                   Position                  ID  ...  Role Player      Bust
Player                                           ...
Karl-Anthony Towns        C  karl-anthony-towns  ...     0.163083  0.274967
Justise Winslow          SF     justise-winslow  ...     0.176767  0.228800
Stanley Johnson          SF     stanley-johnson  ...     0.278500  0.229967
Jahlil Okafor             C       jahlil-okafor  ...     0.235533  0.295850
D`Angelo Russell         PG    d-angelo-russell  ...     0.096583  0.409100

[5 rows x 8 columns]

In [0]:
# Agora podemos chamar pelo índice com nome, por exemplo:
df2.loc['Justise Winslow']

Position                      SF
ID               justise-winslow
Draft Year                  2015
Projected SPM           0.875329
Superstar              0.0835286
Starter                 0.510905
Role Player             0.176767
Bust                      0.2288
Name: Justise Winslow, dtype: object

In [0]:
# Selecionar apenas as colunas que queremos também é possivel, neste exemplo um array com as linhas e outro de colunas
df2.loc[['Karl-Anthony Towns', 'Stanley Johnson', 'D`Angelo Russell'], ['Position', 'ID']]

                   Position                  ID
Player
Karl-Anthony Towns        C  karl-anthony-towns
Stanley Johnson          SF     stanley-johnson
D`Angelo Russell         PG    d-angelo-russell

In [0]:
# Localizar os atletas com probabilidade maior ou igual a 10% de serem superstars
# Multiplicampos por 100, para ficar mais facil o entendimento

df.loc[(df['Superstar']*100) >= 10]

                  Player Position  ... Role Player      Bust
0     Karl-Anthony Towns        C  ...    0.163083  0.274967
4       D`Angelo Russell       PG  ...    0.096583  0.409100
77           Joel Embiid        C  ...    0.234645  0.219300
78          Marcus Smart       PG  ...    0.142132  0.330515
81        Andrew Wiggins       SG  ...    0.118000  0.349533
158       Victor Oladipo       SG  ...    0.174529  0.235978
159         Nerlens Noel        C  ...    0.129400  0.274183
160          Otto Porter       SF  ...    0.127525  0.261029
239        Anthony Davis       PF  ...    0.076133  0.231517
240         Bradley Beal       SG  ...    0.137333  0.237683
241         Dion Waiters       SG  ...    0.199038  0.274767
243      Thomas Robinson       PF  ...    0.202871  0.313615
324     Derrick Williams       PF  ...    0.159771  0.267865
325         Kyrie Irving       PG  ...    0.133517  0.336650
406     DeMarcus Cousins        C  ...    0.217486  0.349658
488         Tyreke Evans       PG  ...    0.104356  0.261156
489        Blake Griffin       PF  ...    0.171448  0.318974
490         James Harden       SG  ...    0.147432  0.314925
491         Jrue Holiday       PG  ...    0.146131  0.297962
568      Michael Beasley       PF  ...    0.108676  0.323523
569    Russell Westbrook       PG  ...    0.169641  0.301449
570           Kevin Love       PF  ...    0.182696  0.298247
571          Eric Gordon       SG  ...    0.190725  0.375826
572         Derrick Rose       PG  ...    0.160294  0.415417
642      Mike Conley Jr.       PG  ...    0.126162  0.301754
643            Greg Oden        C  ...    0.164270  0.327066
713          Rajon Rondo       PG  ...    0.141469  0.303457
714         Tyrus Thomas       PF  ...    0.135411  0.326879
715    LaMarcus Aldridge       PF  ...    0.170278  0.302508
790           Chris Paul       PG  ...    0.099133  0.247577
791      Marvin Williams       SF  ...    0.176429  0.249524
847       Andre Iguodala       SG  ...    0.160668  0.317832
898          Dwyane Wade       SG  ...    0.162433  0.347318
1032           Omar Cook       PG  ...    0.115622  0.331133
1035      Gilbert Arenas       SG  ...    0.181121  0.345700
1037        Joseph Forte       SG  ...    0.135274  0.432965

[36 rows x 9 columns]

In [0]:
# Mudando os 5 primeiros registros para o ano de 2018
# Nesse caso, a seleção das linhas não pega o limite inferior, no caso, o 5, pega apenas os 5 primeiros e não da 0 a 5 posição
df2.loc[0:5, 'Draft Year'] = 2018

df2.head(5)

                   Position                  ID  ...  Role Player      Bust
Player                                           ...
Karl-Anthony Towns        C  karl-anthony-towns  ...     0.163083  0.274967
Justise Winslow          SF     justise-winslow  ...     0.176767  0.228800
Stanley Johnson          SF     stanley-johnson  ...     0.278500  0.229967
Jahlil Okafor             C       jahlil-okafor  ...     0.235533  0.295850
D`Angelo Russell         PG    d-angelo-russell  ...     0.096583  0.409100

[5 rows x 8 columns]

# **ILOC**

In [0]:
# Selecionar a primeira linha do dataset
df.iloc[0]

Player           Karl-Anthony Towns
Position                          C
ID               karl-anthony-towns
Draft Year                     2015
Projected SPM               1.03061
Superstar                  0.134767
Starter                    0.427183
Role Player                0.163083
Bust                       0.274967
Name: 0, dtype: object

In [0]:
# Selecionar a última linha
df.iloc[-1]

Player           Calvin Bowman
Position                     C
ID               calvin-bowman
Draft Year                2001
Projected SPM         -1.68467
Superstar                    0
Starter             0.00506819
Role Player           0.168629
Bust                  0.826303
Name: 1089, dtype: object

In [0]:
# Todos os dados da primeira coluna do dataset
df.iloc[:,0]

0          Karl-Anthony Towns
1             Justise Winslow
2             Stanley Johnson
3               Jahlil Okafor
4            D`Angelo Russell
                ...
1085            Terrell Lyday
1086          Brandon Wolfram
1087    Ruben Boumtje Boumtje
1088           Greg Stevenson
1089            Calvin Bowman
Name: Player, Length: 1090, dtype: object

In [0]:
# Slice: Do primeiro ao quinto dado da última coluna
# Nesse caso, a seleção das linhas não pega o limite inferior, no caso, o 5, pega apenas os 5 primeiros e não da 0 a 5 posição
df.iloc[0:5,-1]

0    0.274967
1    0.228800
2    0.229967
3    0.295850
4    0.409100
Name: Bust, dtype: float64

In [0]:
# Array: Do primeiro ao quinto dado da última coluna
# Com o array a seleção das linhas não pega os 6 valores da 0 a 5 posição
df.iloc[[0,1,2,3,4,5],-1]

0    0.274967
1    0.228800
2    0.229967
3    0.295850
4    0.409100
5    0.193544
Name: Bust, dtype: float64

In [0]:
# resgatando as primeiras três linhas do dataset
# Nesse caso, a seleção das linhas não pega o limite inferior, no caso, o 3, pega apenas os 3 primeiros e não da 0 a 3 posição
df.iloc[0:3]

               Player Position  ... Role Player      Bust
0  Karl-Anthony Towns        C  ...    0.163083  0.274967
1     Justise Winslow       SF  ...    0.176767  0.228800
2     Stanley Johnson       SF  ...    0.278500  0.229967

[3 rows x 9 columns]

In [0]:
# Todos os dados da segunda e terceira coluna
# Para coluna também a seleção das linhas não pega o limite inferior, no caso, o 3. Pega apenas as duas colunas especificadas, a segunda (coluna na posição 1) e 
# a terceira (coluna na posição 2), e não das colunas de 1 a 3 posições
df.iloc[:, 1:3]

     Position                     ID
0           C     karl-anthony-towns
1          SF        justise-winslow
2          SF        stanley-johnson
3           C          jahlil-okafor
4          PG       d-angelo-russell
...       ...                    ...
1085       SG          terrell-lyday
1086       SF        brandon-wolfram
1087        C  ruben-boumtje-boumtje
1088       SG         greg-stevenson
1089        C          calvin-bowman

[1090 rows x 2 columns]

In [0]:
# 1º,3º e 5º elementos e 6ª a 8ª colunas
# Para coluna também a seleção das linhas não pega o limite inferior, no caso, o 8. Pega apenas as três colunas especificadas, a quinta (coluna na posição 4) e 
# a sétima (coluna na posição 6), e não das colunas de 5 a 8 posições

df.iloc[[0,2,4], 5:8]

   Superstar   Starter  Role Player
0   0.134767  0.427183     0.163083
2   0.067800  0.423733     0.278500
4   0.152033  0.342283     0.096583

In [0]:
# quando solicitamos a o iloc uma linha ele retorna um Pandas Series, já múltiplas retorna um Pandas DataFrame.
# O pandas fornece duas maneiras de estruturar os nossos dados, o DataFrame que possui uma estrutura tabular de N-dimensões, onde cada coluna é um campo da 
# tabela e cada linha um registro, e a Series, que é uma matriz unidimensional que contém uma sequencia de valores acompanhado de seus respectivos índices.

print(type(df.iloc[0]))
print(type(df.iloc[0:3]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>